/* Patches: They go in the order I find bugs, from oldest to newest */
.embed-hKpSrO,
.chatHeaderBar-31g1mU,
code,
.messagesPopoutWrap-3zryHW .header-1w9Q93,
.searchBar-2M9mRP,
.header-1ULbqO,
.categoryList-2qRrlj,
.searchBar-3aIzc-,
.container-1SX9VC div,
.packHeader-w9jpYl,
.categoryList-2GgCrD {
  background: var(--bg-overlay-4) !important;
}

.messageGroupWrapper-1jf_7C,
.messagesPopout-eVzQcI div,
[role="tabpanel"],
.contentRegionScroller-2_GT_N {
  background: var(--bg-overlay-chat) !important;
}

.voiceChannelsButton-SRmgo8:hover {
  background: var(--bg-overlay-hover);
}

.button-3bklZh,
.contentWrapper-3vHNP2 {
  background: var(--bg-overlay-6);
}

.button-3bklZh:hover,
.mojiItem-277VFM:hover {
  background: var(--bg-overlay-hover) !important;
}

.sidebar-nqHbhN,
.sidebarRegionScroller-FXiQOh {
  background: var(--bg-overlay-app-frame);
}

/* Plugin: SpotifyModal-Evelyn */
.spotify-modal {
  background: var(--bg-overlay-1, var(--background-secondary-alt)) !important;
}

.dock .icon,
.dock .seek-bar {
  background: var(--bg-overlay-hover);
}

/* Credit */
.info-3pQQBb::after {
  content: "Katze's Work";
  color: var(--text-muted);
  font-size: 12px;
  line-height: 16px;
  display: block;
}
